<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Addition App</title>
    <link rel="stylesheet" href="../includes/css/style.css" />
  </head>
  <body>
    {{>header}}
    <h1>{{title}}</h1>
    <form method="GET">
      <input type="number" id="num1" />
      +
      <input type="number" id="num2">
      <button type="submit">=</button>
      <input type="text" id="res">
    </form>
    <script>
      const addForm = document.querySelector('form');
      addForm.addEventListener('submit', (e)=>{
        e.preventDefault();
        const input1 = document.querySelector('#num1');
        const input2 = document.querySelector('#num2');
        const val1 = input1.value;
        const val2 = input2.value;
        const res = parseInt(val1) + parseInt(val2);
        console.log(res);
        const result = document.querySelector('#res');
        result.value = res;
      })
    </script>
  </body>
</html>